@model KatherinePorras_FINBANK.Modelo.RegistroUsuarioModelo
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";


}

<div class="register-box">

    <div class="card">
        <div class="card-body register-card-body">
            <p class="login-box-msg">Register a new membership</p>
      
                <form asp-controller="Login" asp-action="RegistroUsuario" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div class="form-group has-feedback">
                        <input type="text" name="CEDULA" class="form-control" placeholder="Cédula">
                        <span class="fa fa-user form-control-feedback"></span>
                 
                        @Html.ValidationMessageFor(model => model.CEDULA, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" asp-for="NOMBRE" class="form-control" placeholder="Nombres">
                        <span class="fa fa-user form-control-feedback"></span>
                        <span asp-validation-for="NOMBRE" class="text-danger"></span>

                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" asp-for="APELLIDO" class="form-control" placeholder="Apellidos">
                        <span class="fa fa-user form-control-feedback"></span>
                        <span asp-validation-for="APELLIDO" class="text-danger"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <input type="text" asp-for="fechaNacimiento" class="form-control" placeholder="Fecha de nacimiento">
                        <span class="fa fa-user form-control-feedback"></span>
                        <span asp-validation-for="fechaNacimiento" class="text-danger"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="form-group has-feedback">
                            <input type="text" asp-for="USUARIO" class="form-control" placeholder="Correo electronico">
                            <span class="fa fa-user form-control-feedback"></span>
                            <span asp-validation-for="USUARIO" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="form-group has-feedback">
                            <input type="text" asp-for="PassUsuario" class="form-control" placeholder="Contraseña">
                            <span class="fa fa-user form-control-feedback"></span>
                            <span asp-validation-for="PassUsuario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <div class="form-group has-feedback">
                            <input type="text" asp-for="PassUsuarionew" class="form-control" placeholder="Confirme la contraseña">
                            <span class="fa fa-user form-control-feedback"></span>
                            <span asp-validation-for="PassUsuarionew" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-lg-4 col-lg-offset-8 ">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Registrar</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <a href="@Url.Action("Index", "Login")" class="text-center">Ya estas registrado</a>
</div>
        <!-- /.form-box -->
    </div><!-- /.card -->
</div>
<!-- /.register-box -->